.login-card {

    border: 5px solid black;
    margin-top: 80px;
 
}
.custom-submit-btn {
    background-color: #ff8c00; /* Dark orange */
    border-color: #ff8c00; /* Border color */
    color: #fff; /* Text color */
  }
  
  .custom-submit-btn:hover {
    background-color: #ff7f00; /* Darker shade of orange on hover */
    border-color: #ff7f00; /* Border color on hover */
  }
  
  